<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Điểm danh</a>
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/infoStaff' ? 'active' : '' %>"
          href="/infoStaff"
          >Thông tin cá nhân</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/search' ? 'active' : '' %>" href="/search"
          >Tra cứu</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/covid' ? 'active' : '' %>" href="/covid"
          >Thông tin Covid
        </a>
      </li>
    </ul>
  </nav>
</header>

<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Điểm danh</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/infoStaff' ? 'active' : '' %>" href="/infoStaff"
        >Thông tin cá nhân</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/search' ? 'active' : '' %>" href="/search"
        >Tra cứu</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/covid' ? 'active' : '' %>" href="/covid"
        >Thông tin Covid
      </a>
    </li>
  </ul>
</nav>
