<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
   <%- include('../includes/navigationMana.ejs') %>

    <main class="container">
        <div class="row text-center">
            <h3>XÁC NHẬN GIỜ LÀM <%= user.name.toUpperCase() %></h3>
            <hr>
        </div>

        <!-- start search salary -->
            <div class="col">
                <form action="/confirm-month" method="POST">
                    <input type="hidden" name="userId" id="userId" value="<%= user._id %>">
                    <label for="month">Chọn tháng</label>
                    <input type="month" name="month" id="month">
                        
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button type="submit" class="btn btn-primary">Tìm</button>
                </form>
            </div>
        <!-- end search salary -->
        
             <!-- start check in, check out table -->
            <div class="row mt-2">
                <h5 class="text-center">THÔNG TIN ĐIỂM DANH</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ngày</th>
                            <th>Giờ bắt đầu</th>
                            <th>Giờ kết thúc</th>
                            <th>Nơi làm việc</th>
                            <th>Thời gian làm việc</th>
                            <th>Xóa giờ làm</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let check of user.checks) { %>
                        <tr class="align-item-center">
                            <td><%= moment(check.checkin).format('DD/MM/YYYY') %></td>
                            <td><%= moment(check.checkin).format('HH:mm') %></td>
                            <td><%= (check.checkout != null) ? moment(check.checkout).format('HH:mm') : '--' %></td>
                            <td><%= check.workPlace %></td>
                            <td><%= (check.checkout != null) ? check.timeWork.toFixed(2) : '--' %></td>
                            <td>
                                <form action="/delete-check" method="POST">
                                    <input type="hidden" name="userId" value="<%= user._id %>">
                                    <input type="hidden" id="checkDeleteId" name="checkDeleteId" value="<%= check._id %>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                    <button class="btn btn-sm btn-danger" type="submit">Xóa</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <!-- end check in, check out table -->
        
        <!-- start annualLeave table -->
            <div class="row">
                <h5 class="text-center">THÔNG TIN NGHỈ PHÉP</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ngày</th>
                            <th>Loại nghỉ phép</th>
                            <th>Số giờ nghỉ phép</th>
                            <th>Lý do</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let lev of user.leaves) { %>
                            <tr>
                                <td><%= lev.dateLeave %></td>
                                <td><%= lev.typeLeave %></td>
                                <td><%= lev.hourLeave %></td>
                                <td><%= lev.reason %></td>    
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        <!-- end annualLeave table -->

        <!-- start timeWork information table -->
            <div class="row">
                <h5 class="text-center">THÔNG TIN GIỜ LÀM</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ngày</th>
                            <th>Số giờ đã làm</th>
                            <th>Số giờ làm thiếu</th>
                            <th>Số giờ tăng ca</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let time of times) { %>
                        <tr>
                            <td><%= time.date %></td>
                            <td><%= time.workHours.toFixed(2) %></td>
                           
                            <td><%= time.missingTime.toFixed(2) %></td>
                          
                            <td><%= time.overTime.toFixed(2) %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <!-- end timeWork information table -->
    </main>
<%- include('../includes/end.ejs') %>
