<%- include('../includes/head.ejs') %>
 <link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/staff.css">
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
 
    .ui-state-highlight {
      border: 0 !important;
    }
 
    .ui-state-highlight a {
      background: #363636 !important;
      color: #fff !important;
    }
  </style>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <div class="row text-center">
                <h4>ĐĂNG KÝ NGHỈ PHÉP</h4>
                <h5>Số ngày nghỉ còn lại: <%= user.annualLeave %></h5>
           </div>
           <% if (user.annualLeave === 0) { %>
                <div class="row text-center">
                    <h5>Bạn đã hết ngày nghỉ phép</h5>
                </div>
            <% } else { %> 
                <div class="row text-center">
                    <form action="/annualLeave" method="POST">
                        <div>
                            <label for="typeLeave">Chọn loại nghỉ phép: </label>
                            <select name="typeLeave" id="typeLeave">
                                <option value="Theo ngày">Theo ngày</option>
                                <option value="Theo giờ">Theo giờ</option>
                            </select>
                        </div>
                        <div class="mt-2">
                            <label for="dateLeave">Chọn ngày nghỉ</label>
                            <input type="text" name="dateLeave" id="dateLeave">
                        </div>
                        <div class="mt-2">
                            <label for="hourLeave">Chọn số giờ xin nghỉ phép</label>
                            <input type="number" name="hourLeave" min="0" max="<%= (user.annualLeave*8 < 8) ?user.annualLeave*8 : 8 %>">
                        </div>
                        <div class="mt-2">
                            <label for="reason" class="d-block">Lý do: </label>
                            <textarea name="reason" id="reason" cols="30" rows="4"></textarea>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button class="btn btn-primary" type="submit">Đăng ký</button>
                    </form>
                </div>
                <% } %>

                <% if (errorMessage) { %>
                    <div class="user-message user-message--error mt-2"><%= errorMessage %></div>
                <% } %>
        </div>
    </main>

<%- include('../includes/end.ejs') %>
