<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/staff.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h3 class="text-center">THÔNG TIN ĐIỂM DANH CÔNG VIỆC</h3>
            <hr>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ngày</th>
                            <th>Nơi làm việc</th>
                            <th>Giờ bắt đầu</th>
                            <th>Giờ kết thúc</th>
                            <th>Thời gian làm việc</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let check of checks) { %>
                        <tr>
                            <td><%= moment(check.checkin).format('DD/MM/YYYY') %></td>
                            <td><%= check.workPlace %></td>
                            <td><%= moment(check.checkin).format('HH:mm') %></td>
                            <td><%= (check.checkout != null) ? moment(check.checkout).format('HH:mm') : '--' %></td>
                            <td><%= (check.checkout != null) ? check.timeWork.toFixed(2) : '--' %></td>
                        </tr>
                        <% } %>
                        <tr>
                            <th colspan="5">Số giờ đã làm: <%= (isCheckout.length > 0) ? '--' : total.toFixed(2) %> giờ</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>