<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/staff.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main class="container text-center">
        <div class="row">
            <h3>ĐIỂM DANH BẮT ĐẦU/KẾT THÚC CÔNG VIỆC</h3>
            <hr>
        </div>
        <div class="m-2">
            <a href="/check-in" class="btn btn-primary">Điểm danh</a>

            <a href="/check-out" class="btn btn-primary">Kết thúc làm</a>

            <a href="/check-details" class="btn btn-primary">Chi tiết điểm danh</a>

            <a href="/annualLeave" class="btn btn-primary">Nghỉ phép</a>
        </div>
        <div>
            <div>
                <h4>ĐIỂM DANH</h4>
            </div>
            <% if (starting) { %> 
                <div class="row">
                     <h5>Xin chào: <%= user.name %></h5>
                    <h5>Trạng thái: Đang làm việc</h5>
                    <p>Nơi làm việc: <%= user.checks[user.checks.length - 1].workPlace %></p>
                    <p>Thời gian bắt đầu làm: <%= moment(user.checks[user.checks.length - 1].checkin).format('DD/MM/YYYY HH:mm') %></p>
                    <h6><%= alert %></h6>
                </div>
            <% } else { %>
                <div >
                    <h5>Xin chào: <%= user.name %></h5>
                    <form action="/check-in" method="POST">
                        <div>
                            <label for="workPlace">Chọn nơi làm việc:</label>
                            <select name="workPlace" id="workPlace">
                                <option value="Nhà">Nhà</option>
                                <option value="Công ty" selected>
                                Công ty</option>
                                <option value="Khách hàng">Khách hàng</option>
                            </select>
                        </div>
                    <div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button type="submit" class="btn btn-primary m-2">Bắt đầu</button>
                    </div>
                </form>
            </div>
            <% } %>
    </main>
<%- include('../includes/end.ejs') %>