<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/staff.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main class="container text-center">
        <div class="row">
            <h3>ĐIỂM DANH BẮT ĐẦU/KẾT THÚC CÔNG VIỆC</h3>
            <hr>
        </div>
        <div class="m-2">
            <a href="/check-in" class="btn btn-primary">Điểm danh</a>

            <a href="/check-out" class="btn btn-primary">Kết thúc làm</a>

            <a href="/check-details" class="btn btn-primary">Chi tiết điểm danh</a>

            <a href="/annualLeave" class="btn btn-primary">Nghỉ phép</a>
        </div>
        <div>
            <div class="row">
                <h4>KẾT THÚC LÀM</h4>
            </div>
            <% if (checks.length > 0) { %>
                <div class="row">
                    <form action="/check-out" method="POST">
                        <div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                            <input type="hidden" name="checkId" value="<%= checks[0]._id %>">
                            <button type="submit" class="btn btn-primary m-2">Kết thúc</button>
                        </div>
                    </form>
                </div>
            <% } else { %>
                <div class="row"> 
                    <h5 class="text-danger">Vui lòng điểm danh bắt đầu công việc trước!</h5>
                </div>
            <% } %>
        </div>
    </main>
<%- include('../includes/end.ejs') %>