<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/staff.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h4 class="text-center">TRA CỨU THÔNG TIN</h4>

            <div class="row text-center">
                <form action="/search-salary" method="POST">
                    <label for="salaryMonth">Chi tiết lương tháng</label>
                    <input type="month" name="salaryMonth" id="salaryMonth">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button type="submit" class="btn btn-primary">Tìm</button>
                </form>
            </div>

            <div class="row">
                <h5 class="text-center">BẢNG LƯƠNG THÁNG <%= moment(monthSearch).format('MM/YYYY') %></h5>
            <!-- start table -->
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Hệ số lương</th>
                            <th>Số giờ tăng ca</th>
                            <th>Số giờ làm thiếu</th>
                            <th>Lương thực lãnh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= user.salaryScale %></td>
                            <td><%= totalOverTime.toFixed(2) %></td>
                            <td><%= totalMissingTime %></td>
                            <td><%= salary.toLocaleString('vi-VN', {style: 'currency',currency: 'VND'}) %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- end annualLeave table -->

        </div>
    </main>
<%- include('../includes/end.ejs') %>