<%- include('../includes/head.ejs') %>
 <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/staff.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h4 class="row justify-content-center">THÔNG TIN THÂN NHIỆT</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ngày giờ đăng ký</th>
                        <th>Nhiệt độ cơ thể</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (temps.length > 0) { %>
                        <% for (let temp of temps) { %>
                            <tr>
                                <td><%= moment(temp.timeBodyTemp).format('DD/MM/YYYY HH:mm') %></td>
                                <td><%= temp.bodyTemp %>°C</td>
                            </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td colspan="2">Chưa đăng ký thân nhiệt</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </main>

<%- include('../includes/end.ejs') %>